@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
.d-flex {
    display: flex;
}
input {
    border: solid;
}
.justify-content-end {
    justify-content: end;
}
textarea {
    border: 1px solid;
    width: 80%;
}
.btn-primary {
    border: 1px solid;
}
.chat-list {
    border: solid;
    padding-left: 10px;
    margin-bottom: 5px;
}
.message {
    position: sticky; bottom: 0; width: 100%;
    background-color: #fff;
    padding: 20px;
}
.message-list {
    margin-bottom: 10px;
}
